body{
    width:100vw;
    height:100vh;
    background-color: #d42551;
}
#heart{
    border:5px solid black;
    border-radius: 20%;
    animation:rainbow 1s linear infinite;
    position:relative;
    left:38vw;
    width:25vw;
}

@keyframes rainbow {
    0%{
        background-color: #8FB3ff;
    }
    20%{
        background-color: aquamarine;
    }
    40%{
        background-color: #fffabe;
    }
    60%{
        background-color: hotpink;
    }
    80%{
        background-color: purple;
    }
    100%{
        background-color: #8FB3ff;
    }

}
.words h1, .words h4{
    text-align: center;
}
.directions h3{
    color:blanchedalmond;
    position:absolute;
    display:inline-block;
    border:5px solid blanchedalmond;
    border-radius: 5%;
    top:25px;
    left:20px;
}
#learning{
    position:absolute;
    bottom:65%;
    left:70%;
    width:20%;
    display:none;
    border:5px solid black;
    border-radius:50%;
}
#ramen{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:60%;
    left:70%;
    width:20%;
    display:none;
}
#night{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:55%;
    left:60%;
    width:30%;
    display:none;
}
#cat{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:55%;
    left:60%;
    width:20%;
    display:none;
}
#pika{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:55%;
    left:60%;
    width:30%;
    display:none;
}
#us{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:55%;
    left:60%;
    width:30%;
    display:none;
}
#steg{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:55%;
    left:60%;
    width:30%;
    background-color:lavender;
    display:none;
}
#wilddogs{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:50%;
    left:60%;
    width:30%;
    display:none;
}
#gift{
    border:5px solid black;
    border-radius:20%;
    position:absolute;
    bottom:30%;
    left:60%;
    width:30vw;
    display:none;
}
#buttons{
    position:absolute;
    left:37vw;
    font-size:3vw;
    display:none;
}
button{
    margin:0 25px;
}
#disabled{
    position:absolute;
    right:3vw;
    bottom:3vh;
    border:5px solid blanchedalmond;
    border-radius:5px;
    color:blanchedalmond;
    display: none;
}
#ele{
    display:none;
    position:relative;
    width:20vw;

}
#tulip{
    display:none;
    width:10vw;
    position:relative;

}
#lion{
    display:none;
    position:relative;
    width:15vw;
}
#danceparty{
    position:absolute;
    top:40vh;
    left: 25vw;
}
.spin{
    animation: spin 3s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate3D(0,1,0,0deg);
    }
    to{
        transform: rotate3D(0,1,0,359deg);
    }

}
.spin2{
    animation: spin2 3s linear infinite;
}
@keyframes spin2 {
    from {
        transform: rotate3D(0,1,0,0deg);
    }
    to{
        transform: rotate3D(0,1,0,-359deg);
    }

}

.dance{
    animation: dance 3.5s linear infinite;
}
@keyframes dance {
    0% {
        transform: translate(0,0);
    }
    33%{
        transform: translate(-50px,0);
    }
    66%{
        transform: translate(50px,0);
    }
    100%{
        transform:translate(0,0);
    }
}