body{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    border:5px solid black;
    margin: 5px;
    width:35px;
    height:35px;
}
h1{
    border:5px solid black;
    height:45px;
}
#calc_body{
    position:relative;
    border:5px solid black;
    width:300px;
    height:400px;
}
#operator{
    position:absolute;
    width:35px;
    right:0;
}
.clear{
    position:absolute;
    right:50px;
    top:100px;
}