body{
    width:100vw;
    height:100vh;
    margin:0;
    background-image:url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game_item{
    border:5px solid black;
    background-color: #3f6060;
    opacity: 0.7;
}
.header{
    width:95%;
    height:10%;
    position:relative;
    border-radius: 50px;
}
.logo{
    height:100%;
    width:15%;
    display: inline-block;
}
.header_contents{
    position:absolute;
    top:10vh;
}
.header_contents ul{
    display:flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    font-size:2vw;
    top:10vh;
    color: #fff9f8;
}
.header_contents li{
    margin-left: 5vw;
}
.main{
    display:flex;
    flex-direction: row;
    width:80%;
    height:75%;
}
.scoreboard{
    width:15%;
    height:80%;
    border-radius: 50px;
    margin:5px;
    font-size:1.2vw;
}
.score_contents ul{
    position:absolute;
    list-style: none;
    padding:30px 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    left:12.5vw;
}
.score_contents li{
    margin:15px 0;
    color:white;
}
.game_area{
    margin:1%;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    padding-left:20px;
}
.card_game_area{
    z-index: -1;
    margin:1%;
    width:70%;
    height:75%;
    position:absolute;
    border-radius: 50px;
    left:20vw;
}
.card{
    width:13%;
    height:24%;
    margin:1%;
    position:relative;

}
.card img{
    max-width:100%;
    max-height:100%;
    position:absolute;
    width:100px;
    height:140px;
    border-radius: 10%;
    border:3px solid black;
}
.display_message{
    background-color: red;
    border:5px solid black;
    display:inline-block;
    position:absolute;
    left:60%;
    height:90px;
    bottom:1%;
    z-index: 20;
}
.score_contents button{
    color:white;
    font-size:1.2vw
}
.card_front {
    width: 100%;
    height:100%;
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: -webkit-transform .3s linear 0s;

}
.card_back {
    width: 100%;
    height:100%;
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: -webkit-transform .3s linear 0s;

}
.front_flip {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}

.back_flip {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}